.footer {
    width: 100%;
    min-height: 56px;
    border-top: 1px solid $decorative-line-color;
    &__copyright {
        display: block;
        padding: 0;
        margin: 20px auto;
        font-family: "RobotoCondensed", Helvetica, Arial, sans-serif;
        font-size: $fs-middle;
        line-height: 1.14;
        color: $text-second-color;
        text-align: center;
    }
}