$text-main-color: #000000;
$decorative-line-color: #cccccc;
$text-second-color: #cccccc;
$text-third-color: #999999;
$button-background-fill-color: #4997d0;
$button-text-color: #ffffff;
$modal-background-color: #ffffff;
$form-valid-border-color: #4997d0;
$form-invalid-border-color: tomato;


$mobile-width: 320px;
$desktop-width: 768px;

$max-width: 1440px;
$max-width-tablet: 854px;

// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

$fs-small: 13px;
$fs-middle: 14px;
$fs-large: 36px;
